<nav>
  <ul>
    <li><a href="<%= relative_url '#history' %>">History</a></li>
    <li><a href="<%= relative_url '#about-eua' %>">About EUA</a></li>
    <li><a href="<%= relative_url '#myo' %>">MYO</a></li>
    <li><a href="<%= relative_url '#lt' %>">EUA LT</a></li>
  </ul>
</nav>
