<div class="wa-stack wa-gap-3xs" style="max-width: 60ch; margin: auto">
  <% milestones.each do |m| %>
    <article class="wa-flank" style="flex-wrap: nowrap">
      <wa-avatar style="--size: 2rem">
        <wa-icon slot="icon" name="check"></wa-icon>
      </wa-avatar>
      <div class="wa-flank:end wa-gap-xs">
        <span><%= m.data.event %></span>
        <wa-format-date date="<%= m.data.date %>" month="short" day="numeric"></wa-format-date>
      </div>
    </article>
  <% end %>
</div>
