
<div class="wa-gap-3xl wa-stack" style="max-width: 960px; margin: 0 auto;">
  <div class="wa-align-items-center wa-grid">
    <div>
      <span class="wa-heading-xl">Unlock your Superpower</span>
      <p class="wa-caption-m">Web development is like a superpower—you can turn your ideas into actual products online, and learning it from home means you don’t need a fancy degree or expensive tuition to start building your future.</p>
    </div>
    <div class="wa-frame wa-border-radius-l">
      <img src="https://images.unsplash.com/photo-1551981878-4c70c3e64135?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    </div>

  </div>
  <div class="wa-grid">
    <div class="wa-stack wa-gap-xs">
      <wa-icon name="briefcase" variant="light" style="font-size: 32px;"></wa-icon>
      <span class="wa-heading-m">Career Opportunities</span>
      <p class="wa-caption-s">Mastering web development can lead to high-paying jobs, freelancing gigs, or even launching your own business or app.</p>
    </div>
    <div class="wa-stack wa-gap-xs">
      <wa-icon name="laptop-code" variant="light" style="font-size: 32px;"></wa-icon>
      <span class="wa-heading-m">Flexibility of Online Learning</span>
      <p class="wa-caption-s">Perfect for people balancing school, work, or other responsibilities—no need to attend in-person classes</p>
    </div>
    <div class="wa-stack wa-gap-xs">
      <wa-icon name="palette" variant="light" style="font-size: 32px;"></wa-icon>
      <span class="wa-heading-m">Creative & Practical Skillset</span>
      <p class="wa-caption-s">You can build real, functional things like personal portfolios, blogs, or web apps—and immediately see your progress.</p>
    </div>
  </div>
</div>
