<div class="wa-gap-xl wa-stack" style="max-width: 960px; margin: 0;">
  <div class="wa-align-items-center wa-grid">
    <div>
      <span class="wa-heading-xl">EUA Org and Principles</span>
      <p class="wa-caption-m">EUA is an organization that is focused on delivering great products and services to our businesss partners while uplifting MRL IT</p>
    </div>
    <div class="wa-frame wa-border-radius-l">
      <wa-card>
        <a href="/images/eua_org.png">
          <img
            slot="media"
            src="/images/eua_org.png"
            alt="EUA Org"
          />
        </a>
      </wa-card>
    </div>

  </div>
  <div class="wa-grid">
    <div class="wa-stack wa-gap-xs">
      <i class="fa-solid fa-fire fa-2xl" style="color: #ff1900; margin-bottom: 2rem;"></i>
      <span class="wa-heading-m">Be great at what we do</span>
      <p class="wa-caption-s">Master our crafts. Be the best leads, designers, developers, scientists, and communicators. Build our reputation and brand</p>
    </div>
    <div class="wa-stack wa-gap-xs">
      <i class="fa-solid fa-bullseye fa-2xl" style="color: #74c0fc;i font-size: 32px; margin-bottom: 2rem;"></i>
      <span class="wa-heading-m">Identify and focus on the most impactful work</span>
      <p class="wa-caption-s">Rapidly validate ideas to identify the best ones. Drive our Company's priority inititives and programs. Make a big impact</p>
    </div>
    <div class="wa-stack wa-gap-xs">
      <i class="fa-sharp fa-solid fa-people-group fa-2xl" style="color: #63E6BE; margin-bottom: 2rem;"></i>
      <span class="wa-heading-m">Create a world class team</span>
      <p class="wa-caption-s">Be continuous learners. Continusouly curate and nurture a pipeline of emerging talent. Spread talent across the organization</p>
    </div>
  </div>
</div>
