<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <p class="mt-10 text-center text-lg text-gray-600 dark:text-gray-400">Made with <i class="fa-notdog fa-solid fa-heart" style="color: #e10e2e;"></i> by <%= link_to "MRL IT", "https://mrlit.merck.com" %></p>
  </div>
</footer>

