<div class="wa-flank wa-align-items-start" style="--flank-size: 40ch; padding-block: 15ch">
  <div>
    <h3>Leadership Team</h3>
    <p>
      This is the MRL IT EUA Leadership Team. I'm debating if I should leave Michael and Andrea in. I think Michael will be part of the LT going forward but Andrea won't. Maybe part of the XLT? Should we have an XLT, BTW?
    </p>
  </div>
  <div class="wa-grid wa-gap-2xl" style="--min-column-size: 30ch;">
    <% lt_members.sort_by { |m| m.data.sort_order }.each do |member| %>
      <div class="wa-flank">
        <div>
          <wa-avatar
              image="/images/<%= member.data.name.sub(" ", "_").downcase.concat(".jpg") %>">
          </wa-avatar>
        </div>
        <div class="wa-stack wa-gap-xs">
          <h3 class="wa-heading-l"><%= member.data.name %></h3>
          <span class="wa-caption-m"><%= member.data.role %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
