<div class="wa-flank wa-align-items-start" style="--flank-size: 40ch; padding-block: 15ch">
  <div>
    <h3>MRL IT EUA Leadership Team</h3>
    <p>
      This is the MRL IT EUA Leadership Team. I'm debating if I should leave Michael and Andrea in. I think Michael will be part of the LT going forward but Andrea won't. Maybe part of the XLT? Should we have an XLT, BTW?
    </p>
  </div>
  <div class="wa-grid wa-gap-2xl" style="--min-column-size: 30ch;">
    <% lt_members.each do |member| %>
      <div class="wa-flank">
        <div>
          <wa-avatar
            image="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </wa-avatar>
        </div>
        <div class="wa-stack wa-gap-xs">
          <h3 class="wa-heading-l"><%= member.data.name %></h3>
          <span class="wa-caption-m"><%= member.data.title %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
