<div class="wa-stack">
  <div class="wa-flank" style="--flank-size: 400px;">
    <div class="wa-placeholder">
      <div class="wa-flank" style="flex-direction: column;">
        <div class="wa-heading-l">Strategic Programs and Initiatives</div>
        <div><i class="fa-duotone fa-solid fa-arrow-up-right-dots fa-2xl" style="--fa-primary-color: #74C0FC; --fa-secondary-color: #74C0FC;"></i></div>
      </div>
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>...</li>
        <li>...</li>
      </ul>
    </div>
  </div>
  <div class="wa-flank" style="--content-percentage: 30%;">
    <div class="wa-placeholder">
      UX-NEXT
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Outside in</li>
        <li>Spread throughout MRL IT</li>
        <li>MUXI</li>
        <li>UX athletes</li>
      </ul>
    </div>
  </div>
  <div class="wa-flank" style="--content-percentage: 30%;">
    <div class="wa-placeholder">
      RAPID Evolution and Alignment
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Stronger alignment with Product Teams</li>
        <li>Share across teams</li>
        <li>Try Foresight innovation in ARI</li>
      </ul>
    </div>
  </div>
  <div class="wa-flank" style="--content-percentage: 30%;">
    <div class="wa-placeholder">
      Comms and Change Management Evolution
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Product Marketing</li>
        <li>Better leverage central services</li>
      </ul>
    </div>
  </div>
  <div class="wa-flank" style="--content-percentage: 30%;">
    <div class="wa-placeholder">
      Emerging Talent
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Spread through MRL IT</li>
        <li>Hyderabad</li>
      </ul>
    </div>
  </div>
</div>
