<div class="wa-stack">
<div class="wa-flank">
  <div class="wa-placeholder">
    Strategic Programs double down
  </div>
  <div class="wa-placeholder">
    <ul>
      <li>...</li>
      <li>...</li>
    </ul>
  </div>
</div>
<div class="wa-flank">
  <div class="wa-placeholder">
    UX-NEXT
  </div>
  <div class="wa-placeholder">
    <ul>
      <li>...</li>
      <li>...</li>
    </ul>
  </div>
</div>
</div>
