<div class="wa-stack">

  <div class="wa-flank wa-align-items-center" style="--flank-size: 400px;">
      <div class="wa-placeholder">
        <span class="wa-heading-xl">Strategic Programs</span>
        <i class="fa-duotone fa-solid fa-arrow-up-right-dots fa-2xl" style="--fa-primary-color: #74C0FC; --fa-secondary-color: #74C0FC;"></i>
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>We are doubling down on Strategic Programs and Initiatives</li>
        <li>Both big programs as well as things for which we can serve as MRL IT voice to organization</li>
        <li>Mergers and Aquisitions (M&A), PDS Orchestration, and Mobile Messaging are recent additions</li>
        <li>Michael Gad moving into Strategic Program role</li>
        <li><%= link_to "Strategic Programs Backlog", "/images/strategic_programs_backlog.jpg" %></li>
      </ul>
    </div>
  </div>

  <div class="wa-flank wa-align-items-center" style="--flank-size: 400px;">
    <div class="wa-placeholder">
        <span class="wa-heading-xl">UX</span>
        <i class="fa-duotone fa-solid fa-arrow-right fa-2xl" style="--fa-primary-color: #74C0FC; --fa-secondary-color: #74C0FC;"></i>
        <span class="wa-heading-xl">UX-NEXT</span>
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Continue to focus on improving our craft, looking outside in, etc.</li>
        <li>Moving towards <%= link_to "MUXI", "https://www.nngroup.com/articles/managed-ux/" %> or UX Pod concept</li>
        <li>Increase support, advocacy, and advancement of shared assets</li>
        <li>Will experiment with UX in Hyderabad</li>
        <li>Consolidating leadership under Sudha Yerramilli</li>
      </ul>
    </div>
  </div>

  <div class="wa-flank wa-align-items-center" style="--flank-size: 400px;">
    <div class="wa-placeholder">
        <span class="wa-heading-xl">ARI, PEA, and Ignite (Rapid) Alignment and Evolution</span>
        <i class="fa-brands fa-unity fa-2xl" style="color: #74C0FC;"></i>
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Get better and better at our craft</li>
        <li>Align tightly with MRL Strategic Innovation leaders and MRL IT product teams</li>
        <li>Share liberally across teams</li>
        <li>Identify and focus on most valuable work</li>
        <li>Experiment with Foresight Innovation in ARI</li>
      </ul>
    </div>
  </div>

  <div class="wa-flank wa-align-items-center" style="--flank-size: 400px;">
    <div class="wa-placeholder">
        <span class="wa-heading-xl">Communications and Change Management Optimization</span>
        <i class="fa-solid fa-arrows-spin fa-2xl" style="color: #74C0FC;"></i>
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Continue to drive critical MRL IT services</li>
        <li>Focus on the most impactful functions. Leverage central functions for the rest</li>
        <li>Introduce Product Marketing</li>
        <li>Align with UX</li>
        <li>Marina Kravets moves to UX team</li>
      </ul>
    </div>
  </div>

  <div class="wa-flank wa-align-items-center" style="--flank-size: 400px;">
    <div class="wa-placeholder">
        <span class="wa-heading-xl">Emergine Talent</span>
        <i class="fa-solid fa-arrows-spin fa-2xl" style="color: #74C0FC;"></i>
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Continue to drive critical MRL IT services</li>
        <li>Focus on the most impactful functions. Leverage central functions for the rest</li>
        <li>Introduce Product Marketing</li>
        <li>Align with UX</li>
        <li>Marina Kravets moves to UX team</li>
      </ul>
    </div>
  </div>


  <div class="wa-flank" style="--content-percentage: 30%;">
    <div class="wa-placeholder">
      Emerging Talent
    </div>
    <div class="wa-placeholder">
      <ul>
        <li>Spread through MRL IT</li>
        <li>Hyderabad</li>
      </ul>
    </div>
  </div>
</div>
